// Responsive
$bp-tablet: 768px;
$bp-tablet-horizontal: 1024px;
$bp-desktop: 1200px;
$bp-desktop-xl: 1440px;



// Fonts
$primary-font: "Poppins", sans-serif;

// Colores
$blue: #264065;
$green: #A9D6CB;
$grey: #909090;
$bg-grey: #FAF8F5; 
