@use '../abstracts/abstracts' as abs;

.btn__sing {
    @include abs.button();
}

.btn__singin {
    color: abs.$blue;
    font-size: 14px;
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}

.hero__btn {
    margin-top: 45px;
    .btn {
        @include abs.button();
    }
    .btn__play {
        color: abs.$blue;
        font-size: 14px;
        text-decoration: none;
        img {
            margin-left: 25px;
            margin-right: 10px;
            background-color: white;
            padding: 10px 10px;
            border-radius: 50%;
            width: 40px;
            position: relative;
            top: 13px;
            box-shadow: 0px 8px 15px rgb(204, 203, 203);
        }

    }

}